In [33]:
import pandas as pd
import numpy as np
import sys 
sys.path.append('../')

In [29]:
train_data_path = '../data/train.csv'

In [30]:
train_data = pd.read_csv(train_data_path, encoding='gb18030', sep=',')

In [31]:
train_data.head()

,样本id,A1,A2,A3,A4,A5,A6,A7,A8,A9,...,B6,B7,B8,B9,B10,B11,B12,B13,B14,收率
0,sample_1528,300,NaN,405.0,700,13:30:00,38.0,NaN,NaN,15:30:00,...,65,11:30:00,45.0,11:30-13:00,14:00-15:30,NaN,800.0,0.15,400,0.879
1,sample_1698,300,NaN,405.0,700,14:00:00,29.0,NaN,NaN,16:00:00,...,80,6:00:00,45.0,6:00-7:30,7:30-9:00,9:00-10:00,1200.0,0.15,400,0.902
2,sample_639,300,NaN,405.0,700,14:00:00,29.0,NaN,NaN,16:00:00,...,80,1:00:00,45.0,1:00-2:30,2:30-4:00,4:00-5:00,1200.0,0.15,400,0.936
3,sample_483,300,NaN,405.0,700,1:30:00,38.0,NaN,NaN,3:00:00,...,65,18:00:00,45.0,19:00-20:30,21:30-23:00,NaN,800.0,0.15,400,0.902
4,sample_617,300,NaN,405.0,700,22:00:00,29.0,NaN,NaN,0:00:00,...,80,9:00:00,45.0,9:00-10:30,10:30-12:00,12:00-13:00,1200.0,0.15,420,0.983

In [32]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1396 entries, 0 to 1395
Data columns (total 44 columns):
样本id    1396 non-null object
A1      1396 non-null int64
A2      42 non-null float64
A3      1354 non-null float64
A4      1396 non-null int64
A5      1396 non-null object
A6      1396 non-null float64
A7      149 non-null object
A8      149 non-null float64
A9      1396 non-null object
A10     1396 non-null int64
A11     1396 non-null object
A12     1396 non-null int64
A13     1396 non-null float64
A14     1396 non-null object
A15     1396 non-null float64
A16     1396 non-null object
A17     1396 non-null float64
A18     1396 non-null float64
A19     1396 non-null int64
A20     1396 non-null object
A21     1393 non-null float64
A22     1396 non-null float64
A23     1393 non-null float64
A24     1395 non-null object
A25     1396 non-null object
A26     1394 non-null object
A27     1396 non-null int64
A28     1396 non-null object
B1      1386 non-null float64
B2      1394 non-null float64
B3      1394 non-null float64
B4      1396 non-null object
B5      1395 non-null object
B6      1396 non-null int64
B7      1396 non-null object
B8      1395 non-null float64
B9      1396 non-null object
B10     1152 non-null object
B11     547 non-null object
B12     1395 non-null float64
B13     1395 non-null float64
B14     1396 non-null int64
收率      1396 non-null float64
dtypes: float64(18), int64(8), object(18)
memory usage: 480.0+ KB

In [35]:
for col in train_data.columns:
    print(col)
    print(train_data[col].unique().shape)
    print('================+')

样本id
(1396,)
================+
A1
(3,)
================+
A2
(2,)
================+
A3
(4,)
================+
A4
(4,)
================+
A5
(67,)
================+
A6
(39,)
================+
A7
(76,)
================+
A8
(9,)
================+
A9
(95,)
================+
A10
(4,)
================+
A11
(94,)
================+
A12
(9,)
================+
A13
(3,)
================+
A14
(92,)
================+
A15
(10,)
================+
A16
(94,)
================+
A17
(13,)
================+
A18
(2,)
================+
A19
(6,)
================+
A20
(159,)
================+
A21
(13,)
================+
A22
(4,)
================+
A23
(4,)
================+
A24
(92,)
================+
A25
(15,)
================+
A26
(89,)
================+
A27
(13,)
================+
A28
(157,)
================+
B1
(22,)
================+
B2
(4,)
================+
B3
(3,)
================+
B4
(178,)
================+
B5
(61,)
================+
B6
(36,)
================+
B7
(58,)
================+
B8
(26,)
================+
B9
(178,)
================+
B10
(181,)
================+
B11
(38,)
================+
B12
(5,)
================+
B13
(4,)
================+
B14
(21,)
================+
收率
(73,)
================+

时间戳: ['A5','A7','A9','A11','A14','A16','A24','A26','B5','B7']


时间区间: ['A20','A28','B4','B9','B10','B11']

#### 特征主要分为两类: 数值特征 和 时间特征:
    -数值特征没有明显的连续特征, baseline中不做过多处理
    -时间特征又分为时间戳和时间区间, baseline中当做离散特征进行处理

### 数值特征
#### 处理逻辑: